.appcontainer {
  background-color: #ffc2a0;
  padding: 15px;
  min-height: 100vh;
  @media screen and (min-width: 768px) {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.cardcontainer {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  @media screen and (min-width: 768px) {
    width: 70vw;
  }
}
.heading {
  color: #ff8542;
  font-family: Roboto;
  font-size: 23px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}
.listItems {
  list-style-type: none;
  padding: 0px;
}
.userInput-field {
  font-family: Roboto;
  font-size: 15px;
  outline: none;
  padding-left: 5px;
  height: 30px;
  width: 277px;
  @media screen and (min-width: 768px) {
    width: 500px;
  }
}
.add-button {
  font-size: 13px;
  padding: 4px;
  width: 60px;
  margin-left: 15px;
}
