.appcontainer {
  background-color: #ffc2a0;
  height: 100vh;
  padding: 70px;
}
.cardcontainer {
  background-color: white;
  border-radius: 10px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
}
.heading {
  color: #ff8542;
  font-family: Roboto;
  font-size: 50px;
  text-align: center;
}
.listItems {
  list-style-type: none;
  margin: 10px;
}
